<div class="kd-footer">
  <div class="footer-inner">
    {% comment %} social media wrapper {% endcomment %}
    <div class="kd-footer-social text-center">
      <div class="container">
        <ul>
          <li><a href="https://www.facebook.com/oz.aquarium"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/OzAquarium"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/ozaquariumdistributors/"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>

    {% comment %} footer links {% endcomment %}
    <div class="kd-footer-links-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Contact Us</h3>
            <address>4 Archer Rd,
              Truganina, VIC, 3029</address>
            <a href="mailto:sales@ozaquariumdistributors.com">sales@ozaquariumdistributors.com</a>
          </div>
          <div class="col-md-4">
            <h3>About Us</h3>
            <p>Oz Aquarium Distributors curates a wide variety of products perfect for those looking for a unique line of aquarium products that set them apart from their competitors.</p>
          </div>
          <div class="col-md-4">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="{{shop.url}}/contact">Contact</a></li>
              <li><a href="{{shop.url}}//pages/where-to-buy">Where to buy</a></li>
              <li><a href="https://form.jotform.com/220861214338855">Warrenty Claim</a></li>
              <li><a href="https://forms.gle/xKkKJNGPmpeYg7xV8">Trade Application</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% comment %} kd-footer-copyright {% endcomment %}
    <div class="kd-footer-copyright">
      <div class="container">
        copyright © 2020, Oz Aquarium Distributor. All Rights Reserved.
      </div>
    </div>

  </div>
</div>