{% schema %}
  {
    "name": "t:sections.header.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.header.settings.header__8.content"
      }, {
        "id": "custom_text_body",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      }
    ]
  }
{% endschema %}