<header>

  <div class="header-top-bar">
    <div class="text-right">
      <a href="mailto:sales@ozaquariumdistributors.com">NEED HELP? sales@ozaquariumdistributors.com</a>
    </div>
  </div>
  <div class="header-middle-bar">
    <div class="row">
      <div class="col-md-6">
        <a href="{{shop.domain}}"><img src="{% section.settings.logoimg | img_url : master %}" /></a>
      </div>
      <div class="col-md-6"></div>


    </div>
  </div>
  <div class="header-top-bar">
    <div class="row">
      <div class="col-md-4">
        <h2>Wholesale Only Business</h2>
      </div>
      <div class="col-md-4">
        {%- if section.settings.menu != blank -%}
          <nav
            class="header__inline-menu"
            data-navigation
            role="navigation">
            {% render 'halo-navigation-list' 
             , listClass: 'list-menu list-menu--inline text-left' %}
          </nav>
        {%- endif -%}
      </div>
      <div class="col-md-4">
        <ul>
          <li><a href="#" id="kd-watchlist"><i class="fa fa-heart"></i></a></li>
          <li><a href="/account"><i class="fa fa-user"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "t:sections.header.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.header.settings.header__8.content"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "t:sections.header.settings.menu.label__1",
        "default": "main-menu"
      }, {
        "type": "image_picker",
        "id": "logoimg",
        "label": "Logo Image"
      }
    ]
  }
{% endschema %}