<style>

  .kd-brands-inner {
    padding: 50px 20px;
  }

  .kd-brands-inner h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .kd-single-brand-img {
    display: block;
    height: 300px;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .kd-single-brand-img img {
    position: relative;
  }

  .kd-brand-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.637);
    width: 100%;
    height: 100%;
    display: block;
  }

  .kd-brands-inner .swiper-button-next,
  .kd-brands-inner .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: var(--swiper-navigation-color,var(--swiper-theme-color)); */
    background: #00000094;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
  }

  .kd-brands-inner .swiper-button-next:after,
  .kd-brands-inner .swiper-button-prev:after {
    color: white;
    font-size: 20px;
  }

  .kd-brands-inner .swiper-button-prev,
  .kd-brands-inner .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 2px);
    right: auto;
  }

  .kd-brands-inner .swiper-button-next,
  .kd-brands-inner .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 2px);
    left: auto;
  }
</style>

<div class="kd-brands-wrapper">
  <div class="kd-brands-inner container">
    <h2 class="text-center">
      {{ section.settings.brands_section_title }}
    </h2>
    <div class="brands-carousel">
      <div class="swiper kd-brands-carousel">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'link' %}
              <div class="swiper-slide kd-single-brand-img-wrapper">
                <a
                  href="{{block.settings.linkurl}}"
                  class="kd-single-brand-img"
                  style="background-image: url('{{block.settings.brand_background | img_url: 'master'}}');">
                  <div class="kd-brand-overlay"></div>
                  <img
                    src="{{block.settings.brand_image | img_url: 'master'}}"
                    alt=""
                    srcset="">
                </a>
              </div>
            {% endcase %}
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Kd Brands Section",
    "settings": [
      {
        "type": "text",
        "id": "brands_section_title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "link",
        "name": "kd_brand",
        "settings": [
          {
            "id": "linkurl",
            "type": "url",
            "label": "Brand Url"
          }, {
            "id": "brand_image",
            "type": "image_picker",
            "label": "Brand Image"
          }, {
            "id": "brand_background",
            "type": "image_picker",
            "label": "Brand Background"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Kd Brands Section"
      }
    ]
  }
{% endschema %}