{% comment %} <div class="page-content main-blog">
<div class="blog-row blog-block-item column-1">
{%- for article in blog.articles -%}
<div class="item">
{% render 'article-card-2' 
, article: article,
media_size: media_size,
portrait_aspect_ratio: portrait_aspect_ratio,
blog_text_align: blog_text_align,
show_author: show_author,
show_date: show_date,
show_summary: show_summary,
show_read_more: show_read_more,
show_comment: show_comment,
show_placeholder: show_placeholder,
catewords: 38 %}
</div>
{%- endfor -%}
</div>
</div> {% endcomment %}

<div class="kd-blogs-grid-wrapper">
  <h2 class="kd-blogs-title">{{ section.settings.blogs_title }}</h2>
</div>

{% schema %}
  {
    "name": "Kd blogs grid",
    "settings": [
      {
        "type": "text",
        "id": "blogs_title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Kd blogs grid"
      }
    ]
  }
{% endschema %}