<div class="kd-products-carousel-wrapper">
  {% if section.settings.is_loggedin %}
<<<<<<< HEAD
    {% if %customer% %}
      customer logged in
    {% endif %}
=======
    logged in checked
>>>>>>> 9f364e94f8c4accea926583deceb3b6e43607207
  {% endif %}
</div>

{% schema %}
  {
    "name": "Kd Products Section",
    "settings": [
      {
        "type": "text",
        "id": "products_section_title",
        "label": "Title"
      }, {
        "type": "checkbox",
        "id": "is_loggedin",
        "label": "Only show for logged in users?"
      }
    ],
    "presets": [
      {
        "name": "Kd Products Section"
      }
    ]
  }
{% endschema %}