{% paginate collections.all.products by 30 %}
  <div id="product-grid" class="grid m30">
    {%- liquid
         for product in collections.all.products
            assign can_purchase = false
            if product.available
               assign can_purchase = true
            endif
         endfor
       -%}
  </div>
  {% render 'comp-paginator', paginate_object: paginate %}

{% endpaginate %}

{% schema %}
  {
    "name": "Kd Quick Order",
    "settings": [
      {
        "type": "text",
        "id": "Kd_quick_order_title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Kd Quick Order"
      }
    ]
  }
{% endschema %}