<div class="kd-video-wrapper">
  <video
    src="{{section.settings.videourl}}"
    muted
    autoplay></video>
</div>

{% schema %}
  {
    "name": "Kd Button Content",
    "settings": [
      {
        "type": "url",
        "id": "videourl",
        "label": "Video Url"
      }
    ],
    "presets": [
      {
        "name": "Kd Video Url"
      }
    ]
  }
{% endschema %}