<style>
  .kd-video-wrapper video {
    height: 100%;
    width: 100vw;
    display: block;
  }
</style>


<div class="kd-video-wrapper">
  <video
    src="{{section.settings.videourl}}"
    muted
    autoplay></video>
</div>

{% schema %}
  {
    "name": "Kd Video",
    "settings": [
      {
        "type": "url",
        "id": "videourl",
        "label": "Video Url"
      }
    ],
    "presets": [
      {
        "name": "Kd Video"
      }
    ]
  }
{% endschema %}