<style>
  .kd-video-wrapper video {
    height: 100%;
    width: 100vw;
    display: block;
  }
</style>


<div class="kd-video-wrapper" id="kd-video-wrapper">
  <img class="kd-video-placeholder"
    src="{{section.settings.placeholder}}"
    alt="">{% comment %} <video id="kd-video"
      src="{{section.settings.videourl}}"
      loop
      muted
      autoplay></video> {% endcomment %}</div>

<script>
  window.addEventListener('load', function() {
    console.log('here it comes')
    let video = document.createElement('video')
    video.src = "{{section.settings.videourl}}"
    video.setAttribute("loop" = "true");
    video
      .setAttribute("muted", "true")
      video
      .setAttribute("autoplay", "true")
      document
      .getElementById('kd-video-wrapper')
      .innerHTML = video;
  })
</script>

{% schema %}
  {
    "name": "Kd Video",
    "settings": [
      {
        "type": "url",
        "id": "videourl",
        "label": "Video Url"
      }, {
        "type": "url",
        "id": "placeholder",
        "label": "Image Placeholder"
      }
    ],
    "presets": [
      {
        "name": "Kd Video"
      }
    ]
  }
{% endschema %}