<div class="kd-map-sction-wrapper">
  <iframe
    src="https://www.google.com/maps/d/u/0/embed?mid=1iE-huULSGotujh5McLc3ap6E-eGOLEA&amp;ehbc=2E312F"
    width="640"
    height="480"></iframe>
</div>

{% schema %}
  {
    "name": "kd-map-section",
    "settings": [],
    "presets": [
      {
        "name": "kd-map-section"
      }

    ]
  }
{% endschema %}