.kd-header a {
    color: white !important;
}

.kd-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    padding: 0px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.568);
}

.kd-header .list-menu .dropdown .header__submenu{
    background: #000000bf;
}

.kd-header .icon-dropdown{
    color: white;
}