.kd-header a {
    font-size: 16px;
    text-decoration: none;
}

.header-icons {
    display: flex;
    flex-flow: row;
    column-gap: 15px;
    justify-content: flex-end;
}

.header-icons li {
    display: block;
}

.header-icons li a {
    font-size: 30px;
}

.header-top-area {
    background: rgb(14, 14, 14);
    padding: 12px;
}

.header-middle-area {
    padding: 12px;
}

.header-midle-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kd-inline-search {
    display: flex;
    width: 80%;
    position: relative;
}

.kd-inline-search input {
    width: 100%;
    height: 35px;
    border: 1px solid white;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.733);
}

.kd-inline-search input::placeholder {
    color: white !important;
    ;
}

.kd-inline-search button {
    position: absolute;
    right: 0;
    height: 35px;
    width: 35px;
    background: transparent;
    border: 0;
    color: white;
    font-size: 18px;
}