p , a , span , div{
    font-size: 16px;
    text-decoration: none;
}
.product-item>.card{
    border: none;
    box-shadow: 0 0 10px #0000001c;
    margin-top: 10px;
}

.card-product{
    padding: 10px;
}

.card-information{
    padding: 12px !important;
}

.product-item{
    font-size: 16px;
}

h3.title span{
    color: #000000;
    font-size: 35px;
    margin-bottom: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

#shopify-section-header{
    pointer-events: all;
}