.kd-footer a,
.kd-footer p {
    color: rgb(17, 17, 17);
    font-size: 16px !important;
    text-decoration: none;
}

.kd-footer-social {
    background-color: rgb(19, 19, 19);
    padding: 40px 0px;
}

.kd-footer-social ul {
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.kd-footer-social ul li {
    display: block;
}

.kd-footer-social ul li a {
    font-size: 30px;
    color: white;
}

.kd-footer-links-wrapper {
    padding: 40px 0px;
}

.kd-footer-copyright {
    background-color: rgb(19, 19, 19);
    padding: 20px 0px;
    color: white;
    text-align: center;
}

.kd-footer-copyright p,
.kd-footer-copyright a {
    color: white !important;
    font-size: 16px;
}